{% extends 'layout.html' %}

{% load static %}

{% block title %} お店情報の変更 {% endblock %}

{% block js %}  
<script type="text/javascript" src="{% static 'js/script.js' %}" ></script>
{% endblock %}

{% block content %}
<div class="main-container">
    <a href="/" >TOP</a>
    <h1 class="text-center">お店情報の変更</h1>
    <form method="POST">
      {% csrf_token %}
      <input type="text" class="input-text" name="name" placeholder="店名" value="{{ restaurant.name }}" />
      <br/>
      <input type="text" class="input-text" name="business_hour" placeholder="営業時間" value="{{ restaurant.business_hour }}" />
      <br/>
      <input type="text" class="input-text" name="address" placeholder="住所" value="{{ restaurant.address }}" />
      <br/>
      <textarea class="input-text" name="detail" placeholder="説明・メニュー">{{ restaurant.detail }}</textarea>
      <a style="float: left;" href="{% url 'detail' restaurant.id %}" >詳細へ</a>
      <div class="text-right">
          <input type="submit" value="登録ボタン">
      </div>
    </form>
</div>
{% endblock %}